[submodule "third_party/celestia-node"]
	path = third_party/celestia-node
	url = git@github.com:eigerco/celestia-node.git
[submodule "third_party/go-libp2p-wasm"]
	path = third_party/go-libp2p-wasm
	url = git@github.com:Jorropo/go-libp2p.git
[submodule "third_party/eiger-go-libp2p"]
	path = third_party/eiger-go-libp2p
	url = git@github.com:eigerco/go-libp2p.git
